*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
body {
	font-family: popins-regular;
	/* overflow: hidden; */
	font-size: 16px;
}

@font-face {
	font-family: popins-regular;
	src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
	font-family: popins-medium;
	src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
	font-family: popins-bold;
	src: url("../fonts/Poppins-Bold.ttf");
}
a {
	text-decoration: none;
}
.container {
	width: 960px;
	margin: auto;
}
.btn {
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	padding: 8px 26px;
}

/* nav section */
nav {
	padding: 20px 0;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-logo h3 {
	font-size: 16px;
	color: #3f67b1;
}
.nav-content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn-login {
	background-color: #3f67b1;
	border-radius: 9999px;
	transition: all 250ms ease-out;
}
.btn-login:hover {
	-webkit-transform: translate(0, -2px);
	-ms-transform: translate(0, -2px);
	transform: translate(0, -2px);
	box-shadow: 0 4px 6px rgba(63, 63, 107, 0.3);
}

/* Main/Hero section  */

.main-content-wrapper {
	display: flex;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
}
.main-content-holder {
	padding-top: 120px;
}
.main-content-holder h2 {
	font-size: 2.625rem;
	text-transform: capitalize;
	font-weight: 200;
	color: #032462;
}
.main-content-holder > h2 > span {
	font-weight: 700;
	color: black;
}
.main-content-holder p {
	font-size: 1.125rem;
	color: #888;
}

.card {
	border-top: 5px solid #3f67b1;
	padding: 20px;
	border-radius: 5px;
	margin-top: 100px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.card p {
	/* color: #96989b; */
	color: #24292e;
	padding: 20px 0;
	font-size: 1.125rem;
}

.card .form-control {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 15px;
	border: 1px solid #6f85ff;
	border-radius: 5px;
	box-sizing: border-box;
}
.card .btn-register {
	background: #032462;
	display: block;
	width: 100%;
	padding: 15px;
	border-style: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 250ms ease-out;
}
.card .btn-register:hover {
	cursor: pointer;
	background: #041a42;
	transition: all 250ms ease-out;
}
::placeholder {
	color: #96989b;
	font-size: 13px;
}

/* Mobile Responsive styles*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.center {
		padding-left: 20px;
		padding-right: 20px;
	}
	.container {
		width: 100%;
		margin: auto;
	}
	.main-content-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.main-content-holder {
		padding-top: 10px;
	}
	.main-content-holder h2 {
		font-size: 2rem;
		text-transform: capitalize;
		font-weight: 200;
		color: #032462;
		text-align: center;
		margin: 40px 0;
	}
	.main-content-holder > h2 > span {
		font-weight: 700;
		color: black;
	}
	.main-content-holder p {
		font-size: 1.125rem;
		color: #888;
		text-align: center;
	}
	.card {
		margin-top: 60px;
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.main {
		height: 100%vh;
	}
	.container {
		width: 100%;
		margin: auto;
	}
	.center {
		padding-left: 20px;
		padding-right: 20px;
	}
	.main-content-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.main-content-holder {
		padding-top: 40px;
	}
	.main-content-holder h2 {
		font-size: 2.5 rem;
		text-transform: capitalize;
		font-weight: 200;
		color: #032462;
		text-align: center;
		margin: 40px 0;
	}
	.main-content-holder > h2 > span {
		font-weight: 700;
		color: black;
	}
	.main-content-holder p {
		font-size: 1.125rem;
		color: #888;
		text-align: center;
		width: 80%;
		margin: auto;
	}
}
