*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}
.container {
	width: 960px;
	margin: auto;
}
.btn {
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	padding: 8px 26px;
}

/* nav section */
nav {
	background: #3f67b1;
	padding: 20px 0;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-logo h3 {
	font-size: 16px;
	color: #fff;
}
.nav-content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn-login {
	background-color: #ffffff;
	color: #24292e;
	border-radius: 9999px;
	transition: all 250ms ease-out;
}
.btn-login:hover {
	-webkit-transform: translate(0, -2px);
	-ms-transform: translate(0, -2px);
	transform: translate(0, -2px);
	box-shadow: 0 4px 6px rgba(63, 63, 107, 0.3);
}

/* Main/Hero section  */

.main-content-wrapper {
	display: flex;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
}
.main-content-holder {
	padding-top: 120px;
}
.main-content-holder h2 {
	font-size: 2.625rem;
	text-transform: capitalize;
	font-weight: 200;
	color: #032462;
}
.main-content-holder > h2 > span {
	font-weight: 700;
	color: black;
}
.main-content-holder p {
	font-size: 1.125rem;
	color: #888;
}

.card {
	border-top: 5px solid #3f67b1;
	padding: 20px;
	border-radius: 5px;
	margin-top: 100px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.card p {
	/* color: #96989b; */
	color: #24292e;
	padding: 20px 0;
	font-size: 1.125rem;
}

.card .form-control {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 15px;
	border: 1px solid #6f85ff;
	border-radius: 5px;
	box-sizing: border-box;
}
.card .btn-register {
	background: #032462;
	display: block;
	width: 100%;
	padding: 15px;
	border-style: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 250ms ease-out;
}
.card .btn-register:hover {
	cursor: pointer;
	background: #041a42;
	transition: all 250ms ease-out;
}
::placeholder {
	color: #96989b;
	font-size: 13px;
}

/* Basket styles */
nav a {
	color: #fff;
	font-size: 0.875rem;
}
nav .logout-link span {
	color: #4aff6d;
}
#baskets {
	border-top: 1px solid #fff;
}
.basket__main-area {
	display: flex;
	justify-content: flex-start;
}
.basket__side-nav {
	background: #3f67b1;
	padding-left: 40px;
	padding-right: 40px;
	height: 90vh;
	padding-top: 42px;
}
.basket-link-wrapper {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}
.basket-link {
	color: #fff;
	font-size: 1.2rem;
}
a.basket-link:hover:not(.active) {
	color: #041a42;
}
.basket-link.home {
	margin-left: 0;
}
i.fa {
	color: #dbdbdb;
	font-size: 20px;
	margin-right: 20px;
}
.basket-link-wrapper {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
}
.basket-link-wrapper:hover {
	transition: all 250ms ease-out;
	background-color: rgba(6, 3, 43, 0.3);
	cursor: pointer;
}
.basket-link-wrapper > span.badge {
	background-color: rgb(248, 72, 28);
	color: white;
	width: 20px;
	height: 20px;
	padding: 2px;
	font-size: 0.75rem;
	border-radius: 50px;
	font-weight: bold;
	margin-left: 10px;
	text-align: center;
}
.basket__content-area,
.basket__item-content-area {
	flex: 1;
	padding: 30px;
}
.basket__content-area h2,
.basket__item-content-area h2 {
	font-size: 2.5rem;
}
.basket__category {
	border-bottom: 1px solid #ff00dd;
}
.basket__category,
.basket__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.basket__category a,
.basket__item a {
	color: #52535c;
	font-size: 1.125;
}
.basket__category a:hover {
	color: #0093ff;
}
.basket__category input,
.basket__item input {
	margin-right: 10px;
}
.basket__icons > .fa-pencil-square-o,
.basket__item-icons > .fa-pencil-square-o {
	color: #7bc8ff;
}
.basket__icons > .fa-pencil-square-o:hover,
.basket__item-icons > .fa-pencil-square-o:hover {
	color: #0095ff;
}
.basket__icons > .fa-trash-o,
.basket__item-icons > .fa-trash-o {
	color: #24292e;
}
.basket__icons > .fa-trash-o:hover,
.basket__item-icons > .fa-trash-o:hover {
	color: #ff0000;
}
.basket__form {
	margin-top: 30px;
}
.basket__content-area form,
.basket__item-content-area form {
	display: flex;
	border: 1px solid #0093ff;
	padding: 2px;
	border-radius: 9999px;
	padding: 8px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.basket__form input[type="text"] {
	flex-grow: 2;
	border: none;
	margin-left: 20px;
	font-size: 14px;
}
.basket__form input[type="text"]:focus {
	outline: none;
}
.basket__form input[type="submit"] {
	background: #0095ff;
	padding: 10px 30px;
	border-radius: 9999px;
	font-size: 14px;
	color: #fff;
	border: none;
}
.basket__form input[type="submit"]:hover {
	background: #00508a;
}
.basket__item {
	background-color: #dbe8ff;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
	color: #000000;
	margin-top: 30px;
}
.basket__item a {
	color: inherit;
}
/* Mobile Responsive styles*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.center {
		padding-left: 20px;
		padding-right: 20px;
	}
	.container {
		width: 100%;
		margin: auto;
	}
	.main-content-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.main-content-holder {
		padding-top: 10px;
	}
	.main-content-holder h2 {
		font-size: 2rem;
		text-transform: capitalize;
		font-weight: 200;
		color: #032462;
		text-align: center;
		margin: 40px 0;
	}
	.main-content-holder > h2 > span {
		font-weight: 700;
		color: black;
	}
	.main-content-holder p {
		font-size: 1.125rem;
		color: #888;
		text-align: center;
	}
	.card {
		margin: 60px 0;
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.main {
		height: 100%vh;
	}
	.container {
		width: 100%;
		margin: auto;
	}
	.center {
		padding-left: 20px;
		padding-right: 20px;
	}
	.main-content-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.main-content-holder {
		padding-top: 40px;
	}
	.main-content-holder h2 {
		font-size: 2.5 rem;
		text-transform: capitalize;
		font-weight: 200;
		color: #032462;
		text-align: center;
		margin: 40px 0;
	}
	.main-content-holder > h2 > span {
		font-weight: 700;
		color: black;
	}
	.main-content-holder p {
		font-size: 1.125rem;
		color: #888;
		text-align: center;
		width: 80%;
		margin: auto;
	}
}
